In [29]:
import pandas as pd

In [94]:
a = ["07:00 - 08:00", "08:00 - 09:00", "09:00 - 10:00",
     "10:00 - 11:00", "15:00 - 16:00", "18:00 - 19:00",
     "20:00 - 21:00"]

test = pd.DataFrame({"period": a,
                     "user_id": [0, 0, 0, 1, 0]})
test[["start", "end"]] = test["period"].str.split(" - ", expand=True)
test

          period  user_id  start    end
0  07:00 - 08:00        0  07:00  08:00
1  08:00 - 09:00        0  08:00  09:00
2  09:00 - 10:00        0  09:00  10:00
3  10:00 - 11:00        1  10:00  11:00
4  15:00 - 16:00        0  15:00  16:00

In [ ]:
test

In [78]:
class show_db_data:

    def __init__(self, db_resp:list) -> None:
        self.resp_df = pd.DataFrame(db_resp)

    def construct_template(self, period_range:tuple) -> pd.DataFrame:

        period_list = [f"{i:02}:00 - {i+1:02}:00" for i in range(period_range[0], period_range[1])]
        rows = len(period_list)

        none_list = [None] * rows
        
        return pd.DataFrame({"user_id": none_list,
                             "date": none_list,
                             "period": period_list,
                             "vacancy": none_list})
    
    def merge_data(self, selected_date:str, template_df:pd.DataFrame) -> pd.DataFrame:
        merge_df = pd.merge(template_df, self.resp_df, on='period', how='left', suffixes=('_drop', ''))
        merge_df[["start", "end"]] = merge_df["period"].str.split(" - ", expand=True)

        cols_name = [col for col in merge_df.columns if not (col.endswith("_drop") or col == "id")]

        clean_merge_df = merge_df[cols_name]
        clean_merge_df = clean_merge_df[["user_id", "date", "period", "start", "end", "vacancy"]]

        clean_merge_df = clean_merge_df.fillna({"date": selected_date, "user_id":0, "vacancy":"available"})
        clean_merge_df["user_id"] = clean_merge_df["user_id"].astype(int)
        return clean_merge_df

In [62]:
resp = [{'user_id': 1, 'date': '2024-07-29', 'period': '08:00 - 09:00', 'vacancy': 'booked', 'id': '7cda4be8-3c79-4259-bb0c-9451c2397dd8'},
        {'user_id': 1, 'date': '2024-07-29', 'period': '11:00 - 12:00', 'vacancy': 'booked', 'id': '8f281359-c9f0-402b-b380-5bb834f230ad'},
        {'user_id': 3, 'date': '2024-07-29', 'period': '14:00 - 15:00', 'vacancy': 'booked', 'id': 'e983d778-194d-49c9-ae18-68af17fbfa1b'}]

resp_df = pd.DataFrame(resp)
resp_df

,user_id,date,period,vacancy,id
0,1,2024-07-29,08:00 - 09:00,booked,7cda4be8-3c79-4259-bb0c-9451c2397dd8
1,1,2024-07-29,11:00 - 12:00,booked,8f281359-c9f0-402b-b380-5bb834f230ad
2,3,2024-07-29,14:00 - 15:00,booked,e983d778-194d-49c9-ae18-68af17fbfa1b

In [79]:
data = show_db_data(resp_df)
template_df = data.construct_template((7, 23))
data.merge_data("2024-07-24", template_df)

    user_id        date         period  start    end    vacancy
0         0  2024-07-24  07:00 - 08:00  07:00  08:00  available
1         1  2024-07-29  08:00 - 09:00  08:00  09:00     booked
2         0  2024-07-24  09:00 - 10:00  09:00  10:00  available
3         0  2024-07-24  10:00 - 11:00  10:00  11:00  available
4         1  2024-07-29  11:00 - 12:00  11:00  12:00     booked
5         0  2024-07-24  12:00 - 13:00  12:00  13:00  available
6         0  2024-07-24  13:00 - 14:00  13:00  14:00  available
7         3  2024-07-29  14:00 - 15:00  14:00  15:00     booked
8         0  2024-07-24  15:00 - 16:00  15:00  16:00  available
9         0  2024-07-24  16:00 - 17:00  16:00  17:00  available
10        0  2024-07-24  17:00 - 18:00  17:00  18:00  available
11        0  2024-07-24  18:00 - 19:00  18:00  19:00  available
12        0  2024-07-24  19:00 - 20:00  19:00  20:00  available
13        0  2024-07-24  20:00 - 21:00  20:00  21:00  available
14        0  2024-07-24  21:00 - 22:00  21:00  22:00  available
15        0  2024-07-24  22:00 - 23:00  22:00  23:00  available

In [ ]:
def gen_period(start, end):
    """
    Generate working hours list
    """
    return [f"{i:02}:00 - {i+1:02}:00" for i in range(start, end)]

In [18]:
period_list = gen_period(7, 23)
rows = len(period_list)

date_list = ["2024-07-29"] * rows

tmp_list = [None] * rows


a = {"user_id": tmp_list,
        "date": date_list,
        "period": period_list,
        "vacancy": tmp_list}


df = pd.DataFrame(a)

In [25]:
merge_df = pd.merge(df, resp_df, on='period', how='left', suffixes=('_drop', ''))

filter_col_name = ["user_id", "date", "period", "vacancy"]

clean_merge_df = merge_df[filter_col_name].fillna({"date": "2024-07-29", "user_id":0})
clean_merge_df["user_id"] = clean_merge_df["user_id"].astype(int)
clean_merge_df

    user_id        date         period vacancy
0         0  2024-07-29  07:00 - 08:00     NaN
1         1  2024-07-29  08:00 - 09:00  booked
2         0  2024-07-29  09:00 - 10:00     NaN
3         0  2024-07-29  10:00 - 11:00     NaN
4         1  2024-07-29  11:00 - 12:00  booked
5         0  2024-07-29  12:00 - 13:00     NaN
6         0  2024-07-29  13:00 - 14:00     NaN
7         3  2024-07-29  14:00 - 15:00  booked
8         0  2024-07-29  15:00 - 16:00     NaN
9         0  2024-07-29  16:00 - 17:00     NaN
10        0  2024-07-29  17:00 - 18:00     NaN
11        0  2024-07-29  18:00 - 19:00     NaN
12        0  2024-07-29  19:00 - 20:00     NaN
13        0  2024-07-29  20:00 - 21:00     NaN
14        0  2024-07-29  21:00 - 22:00     NaN
15        0  2024-07-29  22:00 - 23:00     NaN