In [1]:
import pandas as pd

In [3]:
data = [{'id': '150e66a6-d434-401c-9cfd-0c1323882e7b', 'username': 'tester', 'email': 'tester@', 'password': 'tester', 'user_id': 1},
        {'id': 'f9bff3e8-2294-47e0-9b79-d96ab92fc6fa', 'username': 'tester1', 'email': 'tester1@', 'password': 'tester1', 'user_id': 2},
        {'id': 'f1723a84-d28a-4603-a9fa-ddd78a34cde6', 'username': 'tester2', 'email': 'tester2@', 'password': 'tester2', 'user_id': 3}]

In [4]:
df = pd.DataFrame(data)
df

                                     id username       email password  user_id
0  150e66a6-d434-401c-9cfd-0c1323882e7b   tester  tester@123   tester        1
1  f9bff3e8-2294-47e0-9b79-d96ab92fc6fa  tester1    tester1@  tester1        2
2  f1723a84-d28a-4603-a9fa-ddd78a34cde6  tester2    tester2@  tester2        3