In [11]:
import pandas as pd

In [8]:
def gen_period(start, end):
    """
    Generate working hours list
    """
    return [f"{i:02}:00 - {i+1:02}:00" for i in range(start, end)]

In [13]:
resp = [{'user_id': 1, 'date': '2024-07-29', 'period': '08:00 - 09:00', 'vacancy': 'booked', 'id': '7cda4be8-3c79-4259-bb0c-9451c2397dd8'},
        {'user_id': 1, 'date': '2024-07-29', 'period': '11:00 - 12:00', 'vacancy': 'booked', 'id': '8f281359-c9f0-402b-b380-5bb834f230ad'},
        {'user_id': 3, 'date': '2024-07-29', 'period': '14:00 - 15:00', 'vacancy': 'booked', 'id': 'e983d778-194d-49c9-ae18-68af17fbfa1b'}]

resp_df = pd.DataFrame(resp)
resp_df

,user_id,date,period,vacancy,id
0,1,2024-07-29,08:00 - 09:00,booked,7cda4be8-3c79-4259-bb0c-9451c2397dd8
1,1,2024-07-29,11:00 - 12:00,booked,8f281359-c9f0-402b-b380-5bb834f230ad
2,3,2024-07-29,14:00 - 15:00,booked,e983d778-194d-49c9-ae18-68af17fbfa1b

In [14]:
period = gen_period(7, 23)
rows = len(period)
tmp_list = [None] * rows


a = {"user_id": tmp_list,
        "date": tmp_list,
        "period": gen_period(7, 23),
        "vacancy": tmp_list}


df = pd.DataFrame(a)

In [33]:
merge_df = pd.merge(df, resp_df, on='period', how='left', suffixes=('_drop', ''))

filter_col_name = ["user_id", "date", "period", "vacancy"]

merge_df[filter_col_name]

    user_id        date         period vacancy
0       NaN         NaN  07:00 - 08:00     NaN
1       1.0  2024-07-29  08:00 - 09:00  booked
2       NaN         NaN  09:00 - 10:00     NaN
3       NaN         NaN  10:00 - 11:00     NaN
4       1.0  2024-07-29  11:00 - 12:00  booked
5       NaN         NaN  12:00 - 13:00     NaN
6       NaN         NaN  13:00 - 14:00     NaN
7       3.0  2024-07-29  14:00 - 15:00  booked
8       NaN         NaN  15:00 - 16:00     NaN
9       NaN         NaN  16:00 - 17:00     NaN
10      NaN         NaN  17:00 - 18:00     NaN
11      NaN         NaN  18:00 - 19:00     NaN
12      NaN         NaN  19:00 - 20:00     NaN
13      NaN         NaN  20:00 - 21:00     NaN
14      NaN         NaN  21:00 - 22:00     NaN
15      NaN         NaN  22:00 - 23:00     NaN