In [4]:
import pandas as pd

In [5]:
book_record = [{
                    "booking_id": 20,
                    "user_id": 1,
                    "room_id": 1,
                    "booking_date": "2024-08-04",
                    "booking_starttime": "08:00",
                    "booking_endtime": "10:00",
                    "totalcost": 180,
                    "status_id": 1
                },
                {
                    "booking_id": 21,
                    "user_id": 2,
                    "room_id": 2,
                    "booking_date": "2024-08-04",
                    "booking_starttime": "11:00",
                    "booking_endtime": "13:00",
                    "totalcost": 160,
                    "status_id": 1
                }]

In [6]:
df = pd.DataFrame(book_record)

In [7]:
df

,booking_id,user_id,room_id,booking_date,booking_starttime,booking_endtime,totalcost,status_id
0,20,1,1,2024-08-04,08:00,10:00,180,1
1,21,2,2,2024-08-04,11:00,13:00,160,1