In [3]:
import pandas as pd

In [1]:
book_record = [{
                    "booking_id": 20,
                    "user_id": 1,
                    "room_id": 1,
                    "booking_date": "2024-08-04",
                    "booking_starttime": "08:00",
                    "booking_endtime": "10:00",
                    "totalcost": 180,
                    "status_id": 1
                },
                {
                    "booking_id": 21,
                    "user_id": 2,
                    "room_id": 2,
                    "booking_date": "2024-08-04",
                    "booking_starttime": "11:00",
                    "booking_endtime": "13:00",
                    "totalcost": 160,
                    "status_id": 1
                }]

book_record_2 = []

In [4]:
df = pd.DataFrame(book_record)
df

,booking_id,user_id,room_id,booking_date,booking_starttime,booking_endtime,totalcost,status_id
0,20,1,1,2024-08-04,08:00,10:00,180,1
1,21,2,2,2024-08-04,11:00,13:00,160,1

In [55]:
first = 7
last = 23

booked = [(8, 10), (11, 13), (15, 18), (20, 22)]

gaps = []
for start, end in zip(booked, booked[1:]):

    if (first != start[0]) and (booked.index(start) == 0):
        gaps.append((first, start[0]))

    if (last != end[-1]) and (booked.index(end) == len(booked)-1):
        gaps.append((end[-1], last))

    gaps.append((start[-1], end[0]))


#print(first, gaps[0][0])
#print(gaps[-1][-1], last)
sorted(gaps)

[(7, 8), (10, 11), (13, 15), (18, 20), (22, 23)]

In [49]:
booked.insert(-1, (1, 2, 3))
booked

[(8, 10), (11, 13), (15, 18), (1, 2, 3), (20, 22)]

In [35]:
booked.index((8, 10))

0